.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  color:white;
}
.navbar-brand:hover{
  color:#181D31;
}
.navbar{
  padding-bottom: 5px;
}

.nav-link{
  color:white;
}
.nav-link:hover{
  color:#181D31;
}
.container-fluid{
  padding:0% 5%;
  background: #0082e6;
}


h5{
  padding:0 5%;
  color:#181D31;
  text-decoration: none;
}
h2,h4{
  padding:3% 10%;
  color:#181D31;
  text-align: center;

}
ul{
  text-align: center;
  padding:10px 10px;
}
li{
  display:inline-block;
  text-decoration: none;
  color:white;
  padding:10px;
}

li a{
  text-decoration: none;
  color:white;
}
li a:hover{
  color:#181D31;
}

.welcome{
  font-weight: 800;
  font-family: serif;
  padding-bottom: 5px;
}
.welcomes{
  font-weight: 400;
  font-family: serif;
  padding-top: 5px;
  padding-bottom: 20px;
}

.cards-head{
  text-align: left;
  margin:0;
  padding: 5px 0 10px 25px;

}


.nav-item a{
  color: #fff;
  text-decoration: none;
  padding-left:20px;
}


.card-carousel{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.carousel-item{
  padding: 10px 20px;
  height: auto;
}
.card{
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid black;
}

.card:hover{
  border:5px solid black;
}
.image-cards{
  width:100%;
  padding: 0%;
  height: auto;
}



.card-text a{
  text-decoration: none;
  color:black;
  padding-top: 0;
  text-align: left;
  margin: 0;

}

.card-text p{
  text-decoration: none;
  color:black;
}
.card-body{
  background-color: #fff;
  padding: 15px;
  margin: 0;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
  outline: black;
  background-color:black;
  background-size: 100%, 100%;
  border-radius: 50;
}

.content-links{
  color:#181D31;
  text-decoration: none;
  text-align: center;
  padding-left: 15px;
  width:90%;
}

.cards-h5{
  text-align: center;
  width:90%;
  padding-top: 5px;
}

.timeline{
  margin-left: 20px;
  margin-right: 10px;
  margin-top:10px;
}

.more{
  padding-right: 0;
  padding-bottom: 5px;
}
.more-head{
  text-align: left;
  padding: 5px 0 10px 40px;
}
.img-more{
  padding-left: 35px;
  padding-right: 0;
}

.sofa-score{
  margin:0;
  padding: 0 0 10px 25px;

}
.footer{
  background-color: #0082e6;
  text-align: center;
  margin-bottom: 0px;
  padding:10px 5px;
}
.footer i{
  padding:50px 10px 20px 10px;
  size:50px;
}

.footer p{
  padding:1px;
  color:white;
}
.footer a{
  text-decoration: none;
  color:inherit;
}

.footer a:hover{
  color:white;
}
