.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  color:white;
}
.navbar-brand:hover{
  color:#181D31;
}
.navbar{
  padding-bottom: 5px;
}

.nav-link{
  color:white;
}
.nav-link:hover{
  color:#181D31;
}
.container-fluid{
  padding:0% 5%;
  background: #0082e6;
}
.content{
  padding:0 5%;
}
h5{
  padding:0 5%;
  color:#181D31;
  text-decoration: none;
}
h2,h4{
  padding:3% 10%;
  color:#181D31;
  text-align: center;
}
h4{
  padding:0 10% 1% 10%;
  color:#181D31;
  text-align: center;
}

h6{
  font-size: 1em;
}
.content-links{
  color:#181D31;
  text-decoration: none;
  text-align: left;
}
.d-block
{
  padding:5% 0;
  height: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.d-block:hover{
  transform: scale(1.02);
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  outline: black;
  background-color:black;
  background-size: 100%, 100%;
  border-radius: 50;
}
.carousel-caption {
  color: white;
 }

.carousel-inner{
  padding: 0 5%;
}
p{
  padding:5% 5% 0 5%;
  font-size: 1rem;
  font-weight: bold;
  display:inline-block;
}
p.names{
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  display:inline-block;
}
.editor{
  padding: 0 5%;
  border-radius: 100%;
  width:30%;
  height:auto;
}


ul{
  text-align: center;
  padding:10px 10px;
}
li{
  display:inline-block;
  text-decoration: none;
  color:white;
  padding:10px;
}

li a{
  text-decoration: none;
  color:white;
}
li a:hover{
  color:#181D31;
}

#cards{
  padding:5% 5%;
  text-align: center;
}
.card-cards{
  padding-top:5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  height:auto;

}
.card-img-top{
  height:auto;
  border-bottom:2px solid black;
  border-top:2px solid black;
}
.card-text{
  text-align: center;
  padding-top:0px;
}
.welcome{
  font-weight: 800;
  font-family: serif;
  padding-bottom: 5px;
}
.welcomes{
  font-weight: 400;
  font-family: serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer{
  background-color: #0082e6;
  text-align: center;
  margin-bottom: 0px;
  padding:10px 5px;
}
.footer i{
  padding:50px 10px 20px 10px;
  size:50px;
}

.footer p{
  padding:1px;
  color:white;
}
.footer a{
  text-decoration: none;
  color:inherit;
}

.footer a:hover{
  color:white;
}
